
:root {
 /*variables*/   
    --background: rgb(51, 57, 63);
    --hotpink: rgb(232, 102, 236);
    --border: white;
    --fontcolor: lightblue;
    --border-style: 3px solid white;
    --objectbackground: #303F54;
    --lighterbackground: #bac2f0;
    --heading:  #b29bf1;
    
    background-color: rgb(51, 57, 63);
    font-size: 18px;
    color: var(--fontcolor);
    font-family:Arial, Helvetica, sans-serif;
}
/*------------------*/
/*------Header------*/
/*------------------*/

header {
  /*  display: flex;
    flex-wrap: wrap;*/
    border: 3px solid var(--border);
    background-color: var(--objectbackground);
    border-radius: 5px;
    padding: 20px;
    margin: 10px 10px 10px 10px;
}

header h1 {
    font-size: 3rem;
    padding: 10px;
    color: var(--heading);
}

header p {
    padding: 0px 0px 60px 0px;
}

/*Navigation*/
header nav {    
    background-color: var(--lighterbackground);
    border: 3px solid var(--lighterbackground);  
    border-radius: 10px;
    float: right;
    padding: 5px;
    margin: -40px 5px 0px 0px;
    text-align: center;
    color: darkblue;
}

/*-----------------------------------*/
/*Main: container for aside and cards*/
/*-----------------------------------*/

/*Set flex wrap*/
main {
    display: flex;
    flex-wrap: wrap;
}

/*-------------*/
/*Project cards*/
/*-------------*/

/*project card container*/
#project-cards {
    flex: 5;
    display: flex;    
    flex-wrap: wrap;    
}

/*project cards*/
.card {     
    border: 3px solid var(--border);
    border-radius: 5px;           
    padding: 15px;
    margin: 10px 10px 10px 10px;
    background-color: var(--objectbackground);
    color: var(--fontcolor);
}

/*make first project card span full width*/
.card:first-child {
    flex: 1 0 90%;
}

/*rest of projects to flex*/
.card:not(first-child) {
    flex: 1 0 30%;
}

/*project card headings*/

.card h3 {
    font-size: 2rem;
    position: relative;
    background-color: var(--objectbackground);
    border: 3px solid white;  
    border-radius: 5px;
    padding: 5px;
    margin: -30px 0px 0px 0px;
    color: var(--heading);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

/*project card articles - centering horizontally*/
.card a {    
    display: inline-block;
    text-align: center;
}


/*project card paragraphs*/
.card p {
    padding: 10px;    
    text-align: center;
}

/*format project card pre*/
pre {
    background-color: royalblue    
}

/* center photos horizontally in a block style container*/
div {
    text-align: center;
}

/* Project card photos */
.cardphoto {
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;     
}


/*blue border when hovering over cardphotos*/
.cardphoto:hover {
    border: 3px solid blue;
}

.cardphoto:active {
    box-shadow: 10 5 5 blue
}


/*---------------*/
/*Aside Container*/
/*---------------*/

/*About me section within Aside*/
aside {
    flex: 1 0 150px;   
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 5px;
    background-color: var(--objectbackground);

    padding: 5px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    
}

aside h2 {
    font-size: 2rem;
    padding: 10px;
    color: var(--heading);

}

aside p {
    font-size: 1rem;
    padding: 10px;

}

/* Centering the photo within the box */
.photo {

    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;     
}

/*-------------------------------*/
/*Contact me section within Aside*/
/*-------------------------------*/
aside h4 {
    font-size: 2rem;
    padding: 10px;

}

.li {
    padding: 5px;    
}

/* Contact details a background */

#contact-me {

    background-color: var(--lighterbackground);
    border: 3px solid var(--lighterbackground);  
    border-radius: 10px;
    padding: 5px;
    margin: 15px 10px 0px 10px;
    color: darkblue;
    text-align: center    
}

/*Add pseudo element before list items*/
.li::before {
    content: '\273A';
    margin-right: 5px;
}


/*------*/
/*Footer*/
/*------*/

footer {
    display: block;
    border: 3px solid white;  
    border-radius: 5px;
    padding: 5px;
    margin: 0px 10px 20px 10px;
    background-color: var(--objectbackground);
    height: 100px;        
}

footer p {
    text-align: center;
    padding: 20px;
}

.link:hover {
    color: red;
    font-weight: 600;
}