/*html {font-size: 16px;}*/

:root {
    background-color: rgb(51, 57, 63);
    --background: rgb(51, 57, 63);
    --hotpink: rgb(232, 102, 236);
    --border: white;
    --fontcolor: lightblue;
    --border-style: 3px solid white;
    font-size: 16px;
    color: var(--fontcolor);
}
/*-----------------------------------*/
/*Header*/
/*-----------------------------------*/

header {
  /*  display: flex;
    flex-wrap: wrap;*/
    border: 3px solid var(--border);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

header h1 {
    font-size: 3rem;
}



/*-----------------------------------*/
/*Main: container for aside and cards*/
/*-----------------------------------*/

/*Set flex wrap*/
main {
    display: flex;
    flex-wrap: wrap;
}

/*---------------------------*/
/*Container for project cards*/
/*---------------------------*/

/*project card container*/
#project-cards {
    flex: 5;
    display: flex;    
    flex-wrap: wrap;
    margin-top: 50px;
}

/*project cards*/
.card {
    flex: 1 0 200px;
    border: 3px solid var(--border);
    border-radius: 5px;
    height: 200px;
        
    padding: 10px;
    margin: 20px;
    margin-bottom: 30px;
}

/*project card headings*/

.card h3 {
    position: relative;
    background-color: var(--background);
    
    border: 3px solid white;  
    border-radius: 5px;
    padding: 5px;
    margin-top: -30px;

    color:  var(--hotpink);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

/*project card paragraphs*/
.card p {
    padding: 10px;
}

/*format project card pre*/
pre {
    background-color: royalblue    
}


/*-------------------*/
/*Container for aside*/
/*-------------------*/

aside {
    flex: 1 0 200px;   
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 5px;
    background-color: darkgreen;

    padding: 5px;
    margin: 20px;
    text-align: center;
    
}

aside h2 {
    font-size: 2rem;
    background-color: darkgreen;
    padding: 20px;
}

aside p {
    font-size: 1rem;
    padding: 20px;

}

#photome {
    height: auto;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
   

}


/*------*/
/*Footer*/
/*------*/

footer {
    border: 3px solid white;  
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    background-color: darkblue
}